node_modules/
.env
.env.local
*.log
.DS_Store
frontend/dist/
backend/.env

# Secret Environment Variables
.env
.env.local
*.env

# Dependencies
node_modules/
dist/
build/

# Extra/Personal Text Files
project.txt
*.txt

# IDE / OS Files
.vscode/
.DS_Store
